.stat {
    position: absolute;
}

.el {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: tomato;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
